@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --bg: rgba(4, 1, 32, 1);
  --hard: rgba(255, 90, 90, 1);
  --light: rgba(28, 255, 173, 0.14);
  --main: rgba(28, 255, 173, 1);
  --variable-collection-light-red: rgba(255, 90, 90, 0.19);
}
